/*--- Lap Section ---*/
.lapSection {
  display: grid;
  align-items: center;
  justify-content: center;
}

.lapSection .innerWrapper {
  display: grid;
  width: 50vmin;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-content: center;
}

.lapSection .innerWrapper ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.lapSection .innerWrapper ul li {
  font-size: 1.5rem;
  list-style: decimal;
  padding-left: 1rem;
}

@media screen and (orientation: landscape) {
  /*--- Lap Section ---*/
  .lapSection {
    grid-area: 2/2/3/2;
  }

  .lapSection .innerWrapper {
    height: 30vh;
  }

  .lapSection .innerWrapper ul {
    height: 30vh;
  }
}

@media screen and (orientation: portrait) {
  /*--- Lap Section ---*/
  .lapSection {
    grid-area: 4/1/5/1;
  }

  .lapSection .innerWrapper {
    height: 18vh;
  }

  .lapSection .innerWrapper ul {
    height: 18vh;
  }
}